<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
<li class="text-center">
            <img src="assets/images/find_user.png" class="user-image img-responsive"/>
  </li>

  
            <li>
                <a  routerLink="/Dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>
            <li>
                <a  routerLink="/Calendar"><i class="fa fa-table fa-3x"></i> Previos Matches</a>
            </li>
            <li>
                <a  routerLink="/Assignments"><i class="fa fa-tasks fa-3x"></i> Your Predictions</a>
            </li>	
            <li>
                <a   routerLink="/Connect"><i class="fa fa-envelope-o fa-3x"></i> Match Result</a>
            </li>	

           
            <li>
                <a   routerLink="/Profile"><i class="fa fa-user fa-3x"></i> My Profile</a>
            </li>
            			
        </ul>
       

    

    </div>
    
</nav>